$container-width: 528px;

@import "../node_modules/skeleton-scss/scss/skeleton.scss";

.container {
  margin: auto;
  max-width: $container-width;
}

@media (max-width: 400px) {
  .container {
    width: 80%;
  }
}

body {
  color: #556270;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: normal;
  margin: 0px;
}

a {
  color: #d6156d;
  text-decoration: none;

  &:hover {
    color: #fd55a2;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

code {
  background-color: #fff;
  overflow: scroll;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.hero {
  @extend .u-full-width;
  padding: 25px 0px 10px 0px;
}

.banner {
  @extend .u-full-width;
  padding: 14px 0px;
  border-bottom: 1px solid #eee;

  p {
    margin-bottom: 0px;
  }
}

.share {
  @extend .u-full-width;
  padding: 14px 0px;
  background-color: #f9f9f9;
  margin-bottom: 20px;

  a {
    color: #556270;
    margin-right: 10px;
    font-size: 12px;
    font-weight: normal;

    &:hover {
      color: #fd55a2;
    }
  }
}

.codes {
  margin-bottom: 40px;

  ul {
    font-size: 14px;
    letter-spacing: 0.5px;
    list-style-type: none;
    margin-bottom: 10px;

    h2 {
      font-size: 14px;
      margin-bottom: 6px;
    }

    li {
      margin-bottom: 0px;

      a {
        color: #556270;
        font-weight: normal;

        &:hover {
          color: #d6156d;
        }

        span {
          color: #d6156d;
          font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
          font-weight: bold;
        }
      }
    }
  }
}

.code {
  margin: 25px auto;

  > p:first-of-type {
    font-size: 18px;
  }

  h1 {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    text-transform: uppercase;
    font-weight: bold;

    span {
      color: #d6156d;
    }

    &.section {
      margin-top: 20px;
    }
  }

  h2 {
    color: #bbb;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul {
    font-size: 14px;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0px 0px 10px 20px;

    li {
      margin: 2px 0 0 0;
    }

    ul {
      list-style-type: circle;
      margin: 5px 0 0 10px;
    }
  }

  hr {
    border-top: 1px solid #eee;
    margin: 10px 0px;
  }

  hr ~ ul {
    font-size: 12px;
    list-style-type: none;
    margin: 0px;

    li {
      margin: 0px;

      span:target {
        background-color: #f9f9f9;
        color: #222;
      }

      &:last-of-type {
        margin-top: 6px;
      }
    }
  }
}

.site-footer {
  text-align: center;
  padding-bottom: 16px;
  font-size: 11px;
  color: #bbb;
  font-variant-numeric: tabular-nums;
}

.site-footer a {
  color: currentColor;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {

  body, .share, code {
    background-color: #222;
    border-color: #777;
    color: #bbb;
  }

  .share {
    background-color: #333;
  }

  .banner {
    border-bottom: 1px solid #333;
  }

  .codes ul li a, .share a {
    color: #bbb;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #eee;
  }

  a,
  .code h1 span,
  .codes ul li a span {
    color: #fc308d;
  }

  a:hover,
  .share a:hover,
  .codes ul li a:hover {
    color: #ff469b;
  }
}