{% extends "layout.njk" %}

{% block contents %}
<div class="hero introduction">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        {{ contents }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
