* {
    padding: 0;
    margin: 0;
}

body {
    color: #556270;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px;
    background-color: #FFF;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #D6156C;
}

a:hover {
    color: #f56991;
}

#wrapper {
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
}

@media (min-width: 480px) {
    #wrapper {
        margin: 20px auto;
    }
}

.header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header .status_title {
    color: #BBB;
    text-transform: uppercase;
    line-height: 24px;
}

.share_buttons {
    width: auto;
    float: right;
}

.share_buttons .share_button {
    float: left;
    display: block;
}

#advert{
    background-color: #FFEAF2;
    height: 20px;
    padding: 15px 0;
    width: 100%;
}

.ad{
    margin: auto;
    width: 600px;
}

#return {
    font-size: 14px;
}

#intro {
    font-family: Georgia;
    font-size: 14px;
    line-height: 24px;
}

#intro p {
    margin-bottom: 10px;
}

#desc {
    font-family: Georgia;
    font-size: 14px;
    line-height: 24px;
}

#desc p {
    margin-bottom: 10px;
}

#desc .reference {
    font-size: 13px;
}

#statuses {
    margin-top: 20px;
}

.status_list {
    margin-bottom: 20px;
}

.status_list .head {
    border-bottom: 2px solid #EEE;
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.status_list .head .title {
    font-weight: bold;
    font-size: 14px;
    float: left;
    text-transform: lowercase;
}

.status_list .head .description {
    font-style: italic;
    float: right;
}

.status {
    height: 70px;
    float: left;
    overflow: hidden;
    width: 100%;
}

@media (min-width: 480px) {
    .status {
        margin: 0 2% 0 0;
        width: 30%;
    }
}

.status_list .status .st {
    font-size: 14px;
    font-weight: bold;
}

.status_list .status .description {
    font-size: 11px;
    height: 46px;
    overflow: hidden;
}

#code_references {
    margin: 20px 0;
}

.info_list {
    font-size: 14px;
}

.info_list .info_item .title {
    width: 200px;
    float: left;
}

.info_list .info_item .value {
    float: left;
}

#footer {
    margin-top: 10px;
    font-size: 11px;
}

.clear {
    clear: both;
}