extends layout.jade

block share
    a.twitter(href='https://twitter.com/intent/tweet?hashtags=httpstatuses&text=Helpful%20HTTP%20Status%20Code%20reference%20site&url=https%3A%2F%2Fhttpstatuses.io') &commat; Share on Twitter
    a.github(href='https://github.com/httpstatuses/httpstatuses') &bigstar; Star on GitHub
    a.pinboard(target='_blank', href='https://pinboard.in/add?showtags=yes&url=https%3A%2F%2Fhttpstatuses.io&description=HTTP%20Status%20Code%20Reference%20Site&title=httpstatuses.io&tags=reference,development') &oplus; Add to Pinboard

block contents
  .hero.introduction: .container: .row: .twelve.columns
    != contents
  .share: .container: .row: .twelve.columns
    block share

  .container.codes: .row: .twelve.columns
    each group in groups.codes
      ul
        li #[h2 !{group.title}]
        each code in group.items
          unless code.unlisted
            li #[a(href='/#{code.code}') #[span !{code.code}] #{code.title}]
