extends layout.jade

block banner
  .banner: .container: .row: .twelve.columns
    p Sponsored by #[a(href='https://www.runscope.com/t/httpstatuses') Runscope &mdash; API Monitoring & Testing &rarr;]

block contents
  block banner
  .hero.introduction: .container: .row: .twelve.columns
    != contents

  .container.codes: .row: .twelve.columns
    each group in groups.codes
      ul
        li #[h2 !{group.title}]
        each code in group.items
          li #[a(href='/#{code.code}') #[span !{code.code}] #{code.title}]
