block title
  title #{title} &mdash; httpstatus.es

doctype html
html(lang="en")
  head
    block title
    link(rel='shortcut icon', href='/' + fingerprint['favicon.ico'], type='image/x-icon')
    link(rel='stylesheet', href='/' + fingerprint['style.css'])
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Source+Code+Pro:700', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block contents