---
layout: default
---

<div id="wrapper">
    <div class="header">
        {{ page.code }} / <span class="status_title">{{ page.title }}</span>
    </div>
    <div id="desc">
        {% for description in page.descriptions %}
        <p id="{{ description[0] }}">
            &#8220;{{ description[1].body }}&#8220; &mdash; <a class="reference" href="{{ description[1].link }}">{{ description[0] }}</a>
        </p>
        {% endfor %}
    </div>
    {% if page.references %}
    <div id="code_references">
        <div class="header">
           {{ page.code }} / <span class="status_title">code reference(s)</span>
        </div>
        <div class="info_list">
            {% for reference in page.references %}
            <div class="info_item">
                <div class="title">
                    {{ reference[1].title }}
                </div>
                <div class="value">
                    {{ reference[1].value }}
                </div>
                <div class="clear"></div>
            </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
    {% endif %}

    <div id="return">
        <a href="{{ site.baseurl }}">&larr; return</a>
    </div>
</div>
